<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>my-blog</title>
</head>

<body>
  <h1>블로그 글을 작성하는 페이지 입니다.</h1>
  <form action="/blog/post-write/" id="blog-write" method="post">
    {% csrf_token %}
    Title : <input type="text" name="title" placeholder="Title" value="">
    <input type="submit">
  </form>
  <textarea name="content" placeholder="내용을 입력 해주세요." form="blog-write"></textarea>
</body>

</html>