<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %} {% endblock %}
  </head>

  <body>
    <nav>
      <span><a href="{% url "blog:home" %}">홈페이지</a></span>
      <span><a href="{% url "blog:home" %}">블로그</a></span>
      <span><a href="{% url "blog:create" %}">작성 페이지</a></span>
      <span><a href="{% url "blog:detail" 5 %}">5번 상세페이지</a></span>
    </nav>
    {% block main %} {% endblock %}
    <footer>푸터 입니다.</footer>
  </body>
</html>
